log:
  level: INFO
  file: data/quant.log
filter:
  keep_star_market: false
  min_market_cap_billion: 50.0
  min_turnover_amount_wan: 10000.0
  max_turnover_rate_pct: 20.0
  min_turnover_rate_pct: 3.0
  min_pe: 5.0
  max_pe: 50.0
  min_pb: 1.0
history_data:
  default_lookback_days: 500
  data_dir: data
analyzer:
  weights:
    trend: 0.375
    reversion: 0.375
    volume: 0.25
  ma_short: 9
  ma_long: 15
  macd_fast: 12
  macd_slow: 28
  macd_signal: 7
  rsi_length: 18
  rsi_buy_threshold: 45
  rsi_sell_threshold: 70
  bbands_length: 16
  bbands_std: 2.0
  atr_length: 10
  atr_multiplier: 1.75
strategy:
  vol_up_ratio: 1.6500000000000001
  rsi_cooled_max: 45
  pullback_ma_tolerance: 1.04
  negative_bias_pct: 0.9500000000000001
  rsi_oversold: 35
  trail_atr_mult: 1.3
  take_profit_pct: 0.12
  breakeven_trigger: 0.03
  breakeven_buffer: 1.008
  w_pullback_ma: 2.5
  w_macd_cross: 2.0
  w_vol_up: 0.5
  w_rsi_rebound: 2.5
  w_green_candle: 1.5
optimizer:
  sample_count: 200
  max_rounds: 5
  convergence_threshold: 0.005
  walk_forward_splits: 5
  train_ratio: 0.7
  objective: sharpe_adj
  results_dir: data/optimize_results
