log:
  level: INFO
  file: data/quant.log
filter:
  keep_star_market: false
  min_market_cap_billion: 30.0
  min_turnover_amount_wan: 10000.0
  max_turnover_rate_pct: 20.0
  min_turnover_rate_pct: 1.0
  min_pe: 0.0
  max_pe: 80.0
  min_pb: 0.5
history_data:
  default_lookback_days: 1000
  data_dir: data
analyzer:
  weights:
    trend: 0.2222
    reversion: 0.6667
    volume: 0.1111
  ma_short: 7
  ma_long: 55
  macd_fast: 16
  macd_slow: 24
  macd_signal: 13
  rsi_length: 10
  rsi_buy_threshold: 50
  rsi_sell_threshold: 60
  bbands_length: 20
  bbands_std: 1.75
  atr_length: 12
  atr_multiplier: 3.0
strategy:
  vol_up_ratio: 1.2000000000000002
  rsi_cooled_max: 60
  pullback_ma_tolerance: 1.015
  negative_bias_pct: 0.8600000000000001
  rsi_oversold: 30
  trail_atr_mult: 1.2
  take_profit_pct: 0.06
  breakeven_trigger: 0.04
  breakeven_buffer: 1.007
  w_pullback_ma: 2.0
  w_macd_cross: 0.5
  w_vol_up: 3.0
  w_rsi_rebound: 1.5
  w_green_candle: 3.0
optimizer:
  sample_count: 200
  max_rounds: 5
  convergence_threshold: 0.005
  walk_forward_splits: 5
  train_ratio: 0.7
  objective: sharpe_adj
  results_dir: data/optimize_results
